<h2 align="center">Listing all articles</h2>
<%=link_to 'create new article', new_article_path%>
<table class="table table-striped table-dark m-2">
<tr>
 <th scope="col">Title</th> <th scope="col">Description</th>
 <th scope="col">Edit section</th> <th scope="col">Show section</th>
 <th scope="col">Delete section</th> <tr>
<tbody>
<%@displayAll.each do|f|%>
<tr>
<td><%=f.title%></td>
<td><%=f.description%><strong class="text-primary"> created by </strong> <%= f.user.username%></td>
<td><%=link_to 'Edit this article', edit_article_path(f), class: "btn btn-xs btn-primary"%></td>
<td><%=link_to 'Show this article ', article_path(f), class: "btn btn-xs btn-secondary"%></td>
<td><%= link_to "Delete this article", article_path(f),class: "btn btn-xs btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
<%end%>
<tbody>
</table>