<% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>

    <% end %>
<div class='m-2'>
<%= form_with(model: @user) do |f| %>
  <div class="mb-3">
    <%=f.label :username, class:"form-label"%>
    <%=f.text_field :username, class:"form-control",placeholder:'Type in your username'%>
    <div class="mb-3">
    <%=f.label :email, class:"form-label"%>
    <%=f.email_field :email, class:"form-control", placeholder:'Type in your email'%>
  </div>
    <div class="mb-3">
    <%=f.label :password, class:"form-label"%>
    <%=f.password_field :password, class:"form-control", placeholder:'Type in your password'%>
  </div>
  <%=f.submit (@user.new_record? ? "Sign up" : "Update your account"), class:"btn btn-primary"%>
  <%end%>
</div>
